*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --color-Pale-Blue: hsl(243, 100%, 93%);
  --color-Grayish-Blue: hsl(229, 7%, 55%);
  --color-Dark-Blue: hsl(228, 56%, 26%);
  --color-Very-Dark-Blue: hsl(229, 57%, 11%);

  --color-Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}

/* typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  color: var(--color-Grayish-Blue);
  font-weight: 400;
  background: url("/images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 2.5rem;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 600px) {
  body {
    background: url("/images/bg-desktop.png"), hsl(229, 57%, 11%);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }
}

h1,
p {
  margin: 0;
}
h1 {
  font-size: 2rem;
}

/* storage_indicator */
.storage__indicator {
  width: 100%;
  background: hsl(229, 57%, 18%);
  padding: 3px 4px;
  border-radius: 10px;
  margin: 1.1rem 0;
}

.storage__indicator .storage__bar {
  height: 16px;
  background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 10px;
  width: 80%;
  padding-right: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.storage__indicator .storage__bar::after {
  content: "";
  background: #fff;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
}

/* icon */
.icon {
  background: var(--color-Very-Dark-Blue);
  padding: 1.2rem;
  display: flex;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

/* storage unused */
.storage__unused {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 10px;
  max-height: 72px;
}

.storage__unused .unused__number {
  color: var(--color-Very-Dark-Blue);
  font-size: 4rem;
  margin-right: 1rem;
}

.storage__unused .unused__gb {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-Grayish-Blue);
}

/* card */
.card {
  background: var(--color-Dark-Blue);
  padding: 4rem;
  border-radius: 10px;
}

.card__fylo {
  border-top-right-radius: 90px;
}

.card--icon {
  display: flex;
  margin-top: 3rem;
}

.card__storage {
  position: relative;
  padding: 3rem;
  text-align: center;
}

.storage__header > h1 {
  font-size: 1.4rem;
  font-weight: 400;
}

.storage__header > h1 > span {
  color: var(--color-Pale-Blue);
  font-weight: 700;
}

.storage__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--color-Pale-Blue);
  margin-bottom: 2.5rem;
}

/* storage component */
.fylo {
  display: grid;
  gap: 2rem;
  width: 100%;
}

.storage__content {
  position: relative;
}

.card__storage .storage__unused {
  position: absolute;
  bottom: -25%;
  right: 22%;
}
@media screen and (min-width: 768px) {
  .fylo {
    display: flex;
  }

  .card__storage {
    flex-basis: 65%;
    align-self: flex-end;
  }

  .storage__footer {
    margin-bottom: 1.5rem;
  }

  .card__storage {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .card__storage .storage__unused {
    top: -35%;
    right: 30px;
  }
  .card__storage .storage__unused::after {
    content: "";
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    background: #fff;
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 30px;
    height: 30px;
  }
}

main {
  width: 100%;
  max-width: 850px;
}
